.left-panel {
  width: 30%;
  background-color: black;
  color: #d1d5db; /* tailwind's text-gray-300 equivalent */
  display: flex;
  flex-direction: column;
}
.left-panel .left_head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;

}
.left-panel .left_head .logout-icon{
  font-size: 1.25rem;
}

.chat-heading {
  font-weight: 500;
  font-size: 1.875rem; /* equivalent to text-3xl */
  padding: 0.5rem;
}

.users-container {
  flex: 1;
  overflow-y: auto;
  min-height: calc(84vh - 10vh);
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .left-panel {
    width: 100%;
    position:absolute;
    z-index: 1000;
    transition: 0.2s ease-in-out;
    height: 100vh;
    transform: translateX(-100%);
  
  }
  .left-panel.expand {
    transform: translateX(0%);
    left: 0;
  }
}