.typesend-container {
    display: flex;
    gap: 0.25rem; /* space-x-1 */
    height: 10vh;
    background-color: #1f2937; /* bg-gray-800 */
    align-items: center;
  }
  
  .typesend-input-wrapper {
    width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .typesend-input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #374151; /* border-gray-700 */
    border-radius: 0.75rem;
    background-color: #0f172a; /* bg-slate-900 */
    color: #fff;
    outline: none;
  }
  
  .send-icon {
    font-size: 1.75rem; /* text-3xl */
    color: #fff;
    cursor: pointer;
  }
  