  
  .avatar-img-wrapper {
    width: 3.5rem; /* w-14 */
    border-radius: 9999px; /* rounded-full */
    overflow: hidden;
  }
  .avatar-img-wrapper .avatar-initials {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-img-wrapper .avatar-initials span{
  font-weight: 400;
  font-size: 1.5rem;
}